@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: 'Raleway', sans-serif;
}
body{
	/* display: flex;
	align-items: center;
	justify-content: center; */
}
.paper{
	display: flex;
    position: absolute;
	flex-wrap: wrap;
    left: 50%;
    top: 50%;
	color: rgb(73, 73, 73);
	height: auto;
	overflow-y: visible;
    transform: translate(-50%, -50%);
    background-color: pink;
    /* padding: 1rem .75rem; */
    border-radius: 1rem;
	flex-direction: column;
}
.head::after{
	background: #000;
}
.achievement{
	row-gap: 12px;
}
.head{
	z-index: 20;
	display: flex;
	height: 7em;
	flex-direction: column;
	/* padding: 25%; */
	overflow-y: visible;
	margin: 0;
	text-align: center;
	width: 100%;
	color: whitesmoke;
	background: url(./dev.jpeg);
}
.row{
	display: flex;
	/* padding: 1em; */

}
.right-panel{
   width: 70%;
   background: red;
   display: flex;
   justify-items: flex-start;
	flex-direction: column;
	justify-content: space-between ;
   padding: 2em;
   background: rgb(214, 214, 214);
}
.left-panel{
	padding: 1em;
    display: flex;
	font-size: 14px;
	row-gap: 2.3em;
	flex-direction: column;
	justify-content: space-between ;
	width: 30%;
	background: rgb(247, 241, 241);
 }
.left-panel > div{
	gap: 1em;
}

.contact li{
	list-style: none;
	display: flex;
	gap: 12px;
}
.contact li{
   padding: .8em .4em;
}

@media screen and (min-width : 768px) {
	ROW{
		flex-direction: column;
	}
}