*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: 'Raleway', sans-serif;
}
body{
	/* display: flex;
	align-items: center;
	justify-content: center; */
}
.paper{
	display: flex;
    position: absolute;
	/* flex-wrap: wrap; */
    left: 50%;
    top: 50%;
	color: rgb(73, 73, 73);
	height: 100%;
	overflow: scroll;
    transform: translate(-50%, -50%);
    background-color: pink;
    /* padding: 1rem .75rem; */
    border-radius: 1rem;
	flex-direction: column;
}

.achievement{
	row-gap: 12px;
}.head{
	z-index: 100;
	display: flex;
	height: 300px;
	flex-direction: column;
	/* padding: 25%; */
	overflow-y: visible;
	margin: 0;
	font-size: 2em;
	
	padding-top: 1.5em;
	text-align: center;
	width: 100%;
	position: relative;
	color: whitesmoke;
	background: url(./dev.jpeg);
}
.head h2{
	font-weight: bolder;
}

.list .list-items{
	line-height: 25px;
}
.row{
	display: flex;
	/* padding: 1em; */

}
.right-panel{
   width: 65%;
   background: red;
   display: flex;
   row-gap: 12px;
   justify-items: flex-start;
	flex-direction: column;
	justify-content: space-between ;
   padding: 2em;
   background: rgb(214, 214, 214);
}
.left-panel{
	padding: 1em;
    display: flex;
	font-size: 14px;
	row-gap: 2.3em;
	flex-direction: column;
	justify-content: space-between ;
	width: 35%;
	background: rgb(247, 241, 241);
 }
.left-panel > div{
	gap: 1em;
}

.contact li{
	list-style: none;
	display: flex;
	gap: 12px;
}
.contact li{
   padding: .8em .4em;
}
.personal-profile, .education, .achievement{
	line-height: 25px;
}
.right-panel > div{
	line-height: 25px;
}
@media screen and (min-width : 768px) {
	ROW{
		flex-direction: column;
	}
}